In [20]:
import pandas as pd

In [21]:
data = pd.read_csv("data.csv")
# only selecting the important features
data = data[["brand", "model", "year", "price_in_euro", "power_ps", "transmission_type","fuel_type", "fuel_consumption_l_100km", "mileage_in_km"]]

In [22]:
# storing the date into integer format. Cleaning for incosistant entires 
valid_entrie_data = data["year"].str.isnumeric() # is the string entry actually an integer : Bool
data = data[valid_entrie_data] # sample where the entries are valid according to above logic
data["year"] = data["year"].astype(int) # casting string entries into integer 
# Note : the year can be transformed into date format but, as we are not dealing with panal model, the integer is much easier to handle

In [23]:
# cleaning the price_in_euro column by following the similar logic as before.
valid_price_data = data["price_in_euro"].str.isnumeric()
data = data[valid_price_data]
data["price_in_euro"] = data["price_in_euro"].astype(int)

In [24]:
# cleaning the power_ps
data.dropna(subset=["power_ps"], inplace=True) # dropping the NaN rows. (contexttual imputaton possibility)
data["power_ps"] = data["power_ps"].astype(int)

In [25]:
# similarly dropping the NaN row in mileage_in_km
data.dropna(subset=["mileage_in_km"], inplace=True)

In [26]:
# dropping the inconsitant entries in transmission_type 

data = data[data["transmission_type"]!= "Unknown"]

In [27]:
# Similarly fuel_type column 
data = data[~data["fuel_type"].isin(["Unknown", "Other"])] # drop the rows where the entres are "Unknown" and "Others"

In [28]:
# Use of special character patterns to extract only the numerical values from the individual entries and dropping the NAN rows. 
data["fuel_consumption_l_100km"] = data["fuel_consumption_l_100km"].str.extract(r"(\d+,\d+)")[0].str.replace(",",".").astype(float)
data.dropna(subset=["fuel_consumption_l_100km"], inplace=True)

In [29]:
# Store the clean dataset in local directory. This is the dataset used in the EDA, Inferential statistics, building the machine learning model and prediction 
data.to_csv("clean_data.csv", index=False)

In [41]:
count_data = df.groupby(["year", "brand"]).size().reset_index(name ="count")

# create a Pivot Table: (easier way to visualize the heatmap, where we consider the brad as our pivot index and year as our columns, and the cells are populated by the counts of each brand produced in given year.)
pivot_table = count_data.pivot(index= "year", columns= "brand", values="count")

brand_total = pivot_table.sum(axis = 0).sort_values(ascending = False) # Count the total number of occurrences of each branch in the entire data set.

pivot_table = pivot_table[brand_total.index] # Reorder the pivot table according to the index of brand_total, i.e. the brands that occur most frequently are displayed first.

In [45]:
pivot_table.sum(axis=0).sort_values(ascending = True)

brand
chrysler            18.0
rover               32.0
daewoo              39.0
infiniti            81.0
lancia              83.0
chevrolet           98.0
cadillac           103.0
isuzu              143.0
daihatsu           145.0
lada               158.0
saab               177.0
aston-martin       206.0
lamborghini        230.0
ssangyong          235.0
dodge              250.0
ferrari            295.0
bentley            333.0
maserati           522.0
honda              622.0
mitsubishi         655.0
jaguar             990.0
smart             1075.0
alfa-romeo        1139.0
jeep              1217.0
land-rover        2491.0
dacia             2755.0
nissan            2839.0
citroen           3010.0
porsche           3153.0
volvo             3154.0
mini              3404.0
mazda             3519.0
fiat              3996.0
kia               4486.0
peugeot           4576.0
hyundai           5238.0
toyota            6044.0
renault           6381.0
seat              9685.0
skoda            11590.0
ford             14427.0
bmw              16195.0
opel             16830.0
audi             17807.0
mercedes-benz    22054.0
volkswagen       27289.0
dtype: float64